In [1]:
import os

import numpy as np
import pandas as pd

In [2]:
path = os.path.join( 'Data', 'Raw' )
nome_file_tiri = 'NBA_2004_2024_Shots.csv'
nome_file_pbp = 'play_by_play.csv'
df_tiri = pd.read_csv( os.path.join( path, nome_file_tiri ) )

In [3]:
df_pbp = pd.read_csv( os.path.join( path, nome_file_pbp ) )

In [4]:
df_tiri[df_tiri.duplicated(keep=False)==True]

,SEASON_1,SEASON_2,TEAM_ID,TEAM_NAME,PLAYER_ID,PLAYER_NAME,POSITION_GROUP,POSITION,GAME_DATE,GAME_ID,...,BASIC_ZONE,ZONE_NAME,ZONE_ABB,ZONE_RANGE,LOC_X,LOC_Y,SHOT_DISTANCE,QUARTER,MINS_LEFT,SECS_LEFT
8031,2024,2023-24,1610612762,Utah Jazz,1628374,Lauri Markkanen,F,PF,10-27-2023,22300085,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,4,0,46
8032,2024,2023-24,1610612762,Utah Jazz,1628374,Lauri Markkanen,F,PF,10-27-2023,22300085,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,4,0,46
8150,2024,2023-24,1610612762,Utah Jazz,1628374,Lauri Markkanen,F,PF,10-30-2023,22300110,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,2,9,46
8151,2024,2023-24,1610612762,Utah Jazz,1628374,Lauri Markkanen,F,PF,10-30-2023,22300110,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,2,9,46
8534,2024,2023-24,1610612762,Utah Jazz,1631117,Walker Kessler,C,C,11-06-2023,22300152,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,3,7,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4166887,2004,2003-04,1610612739,Cleveland Cavaliers,2208,Kedrick Brown,F,SF,12-25-2003,20300401,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,3,10,6
4192100,2004,2003-04,1610612761,Toronto Raptors,2547,Chris Bosh,C,C,12-02-2003,20300241,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,4,5,37
4192104,2004,2003-04,1610612761,Toronto Raptors,2547,Chris Bosh,C,C,12-02-2003,20300241,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,4,5,37
4205660,2004,2003-04,1610612748,Miami Heat,1885,Lamar Odom,F,PF,11-19-2003,20300161,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,4,5,50
4205665,2004,2003-04,1610612748,Miami Heat,1885,Lamar Odom,F,PF,11-19-2003,20300161,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,4,5,50

In [5]:
df_tiri.drop_duplicates(inplace=True)

In [6]:
df_tiri.columns

Index(['SEASON_1', 'SEASON_2', 'TEAM_ID', 'TEAM_NAME', 'PLAYER_ID',
       'PLAYER_NAME', 'POSITION_GROUP', 'POSITION', 'GAME_DATE', 'GAME_ID',
       'HOME_TEAM', 'AWAY_TEAM', 'EVENT_TYPE', 'SHOT_MADE', 'ACTION_TYPE',
       'SHOT_TYPE', 'BASIC_ZONE', 'ZONE_NAME', 'ZONE_ABB', 'ZONE_RANGE',
       'LOC_X', 'LOC_Y', 'SHOT_DISTANCE', 'QUARTER', 'MINS_LEFT', 'SECS_LEFT'],
      dtype='object')

In [7]:
df_tiri.dtypes

SEASON_1            int64
SEASON_2           object
TEAM_ID             int64
TEAM_NAME          object
PLAYER_ID           int64
PLAYER_NAME        object
POSITION_GROUP     object
POSITION           object
GAME_DATE          object
GAME_ID             int64
HOME_TEAM          object
AWAY_TEAM          object
EVENT_TYPE         object
SHOT_MADE            bool
ACTION_TYPE        object
SHOT_TYPE          object
BASIC_ZONE         object
ZONE_NAME          object
ZONE_ABB           object
ZONE_RANGE         object
LOC_X             float64
LOC_Y             float64
SHOT_DISTANCE       int64
QUARTER             int64
MINS_LEFT           int64
SECS_LEFT           int64
dtype: object

In [8]:
df_tiri.head()

,SEASON_1,SEASON_2,TEAM_ID,TEAM_NAME,PLAYER_ID,PLAYER_NAME,POSITION_GROUP,POSITION,GAME_DATE,GAME_ID,...,BASIC_ZONE,ZONE_NAME,ZONE_ABB,ZONE_RANGE,LOC_X,LOC_Y,SHOT_DISTANCE,QUARTER,MINS_LEFT,SECS_LEFT
0,2024,2023-24,1610612764,Washington Wizards,1629673,Jordan Poole,G,SG,11-03-2023,22300003,...,In The Paint (Non-RA),Center,C,8-16 ft.,-0.4,17.45,12,1,11,1
1,2024,2023-24,1610612764,Washington Wizards,1630166,Deni Avdija,F,SF,11-03-2023,22300003,...,Above the Break 3,Center,C,24+ ft.,1.5,30.55,25,1,10,26
2,2024,2023-24,1610612764,Washington Wizards,1626145,Tyus Jones,G,PG,11-03-2023,22300003,...,Restricted Area,Center,C,Less Than 8 ft.,-3.3,6.55,3,1,9,46
3,2024,2023-24,1610612764,Washington Wizards,1629673,Jordan Poole,G,SG,11-03-2023,22300003,...,Restricted Area,Center,C,Less Than 8 ft.,-1.0,5.85,1,1,8,30
4,2024,2023-24,1610612764,Washington Wizards,1626145,Tyus Jones,G,PG,11-03-2023,22300003,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,6.25,1,1,8,8

In [9]:
df_tiri = df_tiri[df_tiri['SEASON_1']<2024]

In [10]:
df_tiri['MIN_STR'] = df_tiri['MINS_LEFT'].map(str)
df_tiri['SEC_STR'] = df_tiri['SECS_LEFT'].map(str)

In [11]:
df_tiri.dtypes

SEASON_1            int64
SEASON_2           object
TEAM_ID             int64
TEAM_NAME          object
PLAYER_ID           int64
PLAYER_NAME        object
POSITION_GROUP     object
POSITION           object
GAME_DATE          object
GAME_ID             int64
HOME_TEAM          object
AWAY_TEAM          object
EVENT_TYPE         object
SHOT_MADE            bool
ACTION_TYPE        object
SHOT_TYPE          object
BASIC_ZONE         object
ZONE_NAME          object
ZONE_ABB           object
ZONE_RANGE         object
LOC_X             float64
LOC_Y             float64
SHOT_DISTANCE       int64
QUARTER             int64
MINS_LEFT           int64
SECS_LEFT           int64
MIN_STR            object
SEC_STR            object
dtype: object

In [12]:
df_tiri['SEC_STR'] = df_tiri['SEC_STR'].apply('{:0>2}'.format)
df_tiri['TIME_LEFT'] = df_tiri['MIN_STR'] + ':' + df_tiri['SEC_STR']

In [13]:
df_tiri[df_tiri['POSITION'].isnull()]

,SEASON_1,SEASON_2,TEAM_ID,TEAM_NAME,PLAYER_ID,PLAYER_NAME,POSITION_GROUP,POSITION,GAME_DATE,GAME_ID,...,ZONE_RANGE,LOC_X,LOC_Y,SHOT_DISTANCE,QUARTER,MINS_LEFT,SECS_LEFT,MIN_STR,SEC_STR,TIME_LEFT
233193,2023,2022-23,1610612761,Toronto Raptors,1628384,O.G. Anunoby,NaN,NaN,10-19-2022,22200008,...,24+ ft.,15.0,26.95,26,1,11,23,11,23,11:23
233196,2023,2022-23,1610612761,Toronto Raptors,1628384,O.G. Anunoby,NaN,NaN,10-19-2022,22200008,...,8-16 ft.,5.6,14.45,10,1,9,42,9,42,9:42
233208,2023,2022-23,1610612761,Toronto Raptors,1628384,O.G. Anunoby,NaN,NaN,10-19-2022,22200008,...,24+ ft.,-8.9,29.35,25,1,1,15,1,15,1:15
233216,2023,2022-23,1610612761,Toronto Raptors,1628384,O.G. Anunoby,NaN,NaN,10-19-2022,22200008,...,Less Than 8 ft.,2.1,10.05,5,2,9,24,9,24,9:24
233231,2023,2022-23,1610612761,Toronto Raptors,1628384,O.G. Anunoby,NaN,NaN,10-19-2022,22200008,...,Less Than 8 ft.,-0.1,4.65,0,2,1,54,1,54,1:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2482135,2013,2012-13,1610612766,Charlotte Bobcats,203106,Jeffery Taylor,NaN,NaN,11-07-2012,21200053,...,Less Than 8 ft.,0.4,6.95,1,3,7,59,7,59,7:59
2483330,2013,2012-13,1610612766,Charlotte Bobcats,203106,Jeffery Taylor,NaN,NaN,11-07-2012,21200053,...,Less Than 8 ft.,-1.8,5.65,1,1,7,35,7,35,7:35
2483417,2013,2012-13,1610612766,Charlotte Bobcats,203106,Jeffery Taylor,NaN,NaN,11-07-2012,21200053,...,Less Than 8 ft.,1.5,5.65,1,1,8,54,8,54,8:54
2486393,2013,2012-13,1610612766,Charlotte Bobcats,203106,Jeffery Taylor,NaN,NaN,11-03-2012,21200034,...,16-24 ft.,18.2,7.45,18,4,3,53,3,53,3:53
2486420,2013,2012-13,1610612766,Charlotte Bobcats,203106,Jeffery Taylor,NaN,NaN,11-03-2012,21200034,...,16-24 ft.,9.0,25.85,22,4,4,36,4,36,4:36

In [14]:
giocatori_senza_ruolo = pd.Series(df_tiri[df_tiri['POSITION'].isnull()]['PLAYER_NAME'].unique())
giocatori_senza_ruolo

0           O.G. Anunoby
1        Jeff Dowtin Jr.
2        John Butler Jr.
3        Chance Comanche
4               AJ Green
5         Xavier Tillman
6              MJ Walker
7      Charlie Brown Jr.
8     Reggie Bullock Jr.
9           Trevon Scott
10          Cam Reynolds
11             T.J. Leaf
12    Michael Frazier II
13           P.J. Dozier
14        Jeffery Taylor
15        Vitor Faverani
dtype: object

In [15]:
ruoli_mancanti = pd.Series(['PG', 'SG', 'SG', 'PF', 'PF', 'PF', 'PF', 'SG', 'SF', 'SF', 'PF', 'C', 'SG', 'SF', 'SF', 'PF', 'SG', 'SG', 'SG', 'C']) 
posgroup = ({'PG' : 'G', 'SG' : 'G', 'SF' : 'F', 'PF' : 'F', 'C': 'C'})
ruoli_mancanti = pd.DataFrame({'giocatore' : giocatori_senza_ruolo, 'ruolo' : ruoli_mancanti})

In [16]:
n = int(ruoli_mancanti.size/2)
for i in range(0, n):
    df_tiri.loc[df_tiri.PLAYER_NAME == ruoli_mancanti.loc[i, 'giocatore'], 'POSITION'] = ruoli_mancanti.loc[i, 'ruolo']
    df_tiri.loc[df_tiri.PLAYER_NAME == ruoli_mancanti.loc[i, 'giocatore'], 'POSITION_GROUP'] = posgroup[ruoli_mancanti.loc[i, 'ruolo']]

In [17]:
df_tiri[df_tiri['POSITION'].isnull()]

Empty DataFrame
Columns: [SEASON_1, SEASON_2, TEAM_ID, TEAM_NAME, PLAYER_ID, PLAYER_NAME, POSITION_GROUP, POSITION, GAME_DATE, GAME_ID, HOME_TEAM, AWAY_TEAM, EVENT_TYPE, SHOT_MADE, ACTION_TYPE, SHOT_TYPE, BASIC_ZONE, ZONE_NAME, ZONE_ABB, ZONE_RANGE, LOC_X, LOC_Y, SHOT_DISTANCE, QUARTER, MINS_LEFT, SECS_LEFT, MIN_STR, SEC_STR, TIME_LEFT]
Index: []

[0 rows x 29 columns]

In [18]:
df_tiri.isnull().sum()

SEASON_1          0
SEASON_2          0
TEAM_ID           0
TEAM_NAME         0
PLAYER_ID         0
PLAYER_NAME       0
POSITION_GROUP    0
POSITION          0
GAME_DATE         0
GAME_ID           0
HOME_TEAM         0
AWAY_TEAM         0
EVENT_TYPE        0
SHOT_MADE         0
ACTION_TYPE       0
SHOT_TYPE         0
BASIC_ZONE        0
ZONE_NAME         0
ZONE_ABB          0
ZONE_RANGE        0
LOC_X             0
LOC_Y             0
SHOT_DISTANCE     0
QUARTER           0
MINS_LEFT         0
SECS_LEFT         0
MIN_STR           0
SEC_STR           0
TIME_LEFT         0
dtype: int64

In [19]:
df_tiri.loc[(df_tiri['SHOT_DISTANCE'] == 0) | (df_tiri['SHOT_DISTANCE'] == 2), 'SHOT_DISTANCE'] = 1

In [20]:
df_pbp.columns

Index(['game_id', 'eventnum', 'eventmsgtype', 'eventmsgactiontype', 'period',
       'wctimestring', 'pctimestring', 'homedescription', 'neutraldescription',
       'visitordescription', 'score', 'scoremargin', 'person1type',
       'player1_id', 'player1_name', 'player1_team_id', 'player1_team_city',
       'player1_team_nickname', 'player1_team_abbreviation', 'person2type',
       'player2_id', 'player2_name', 'player2_team_id', 'player2_team_city',
       'player2_team_nickname', 'player2_team_abbreviation', 'person3type',
       'player3_id', 'player3_name', 'player3_team_id', 'player3_team_city',
       'player3_team_nickname', 'player3_team_abbreviation',
       'video_available_flag'],
      dtype='object')

In [21]:
df_pbp.head()

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,29600012,0,12,0,1,14:43 PM,12:00,NaN,Start of 1st Period (14:43 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
1,29600012,2,10,0,1,14:50 PM,12:00,Jump Ball O'Neal vs. Kleine: Tip to Cassell,NaN,NaN,...,Suns,PHX,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0
2,29600012,3,2,1,1,14:51 PM,11:45,NaN,NaN,MISS Cassell 15' Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
3,29600012,4,4,0,1,14:51 PM,11:43,O'Neal REBOUND (Off:0 Def:1),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
4,29600012,5,2,1,1,14:51 PM,11:29,MISS Ceballos 26' 3PT Jump Shot,NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0

In [22]:
df_pbp['homedescription'] = df_pbp['homedescription'].fillna(df_pbp['visitordescription'])

In [23]:
df_pbp.head(1000)

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,29600012,0,12,0,1,14:43 PM,12:00,NaN,Start of 1st Period (14:43 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
1,29600012,2,10,0,1,14:50 PM,12:00,Jump Ball O'Neal vs. Kleine: Tip to Cassell,NaN,NaN,...,Suns,PHX,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0
2,29600012,3,2,1,1,14:51 PM,11:45,MISS Cassell 15' Jump Shot,NaN,MISS Cassell 15' Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
3,29600012,4,4,0,1,14:51 PM,11:43,O'Neal REBOUND (Off:0 Def:1),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
4,29600012,5,2,1,1,14:51 PM,11:29,MISS Ceballos 26' 3PT Jump Shot,NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,29600002,96,2,1,1,12:13 PM,1:17,MISS Ferry 20' Jump Shot,NaN,MISS Ferry 20' Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
996,29600002,97,4,0,1,12:13 PM,1:14,Bradley REBOUND (Off:1 Def:2),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
997,29600002,98,5,1,1,12:13 PM,1:12,Bradley Bad Pass Turnover (P2.T8),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
998,29600002,99,8,0,1,12:13 PM,1:12,SUB: Williams FOR Bradley,NaN,NaN,...,Nets,NJN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
999,29600002,100,6,1,1,12:13 PM,1:00,Kittles P.FOUL (P1.T3),NaN,NaN,...,NaN,NaN,1.0,0,NaN,NaN,NaN,NaN,NaN,0

In [24]:
df_pbp.drop(columns=['eventnum', 'eventmsgtype', 'eventmsgactiontype',
       'wctimestring', 'neutraldescription', 'visitordescription', 'score', 'scoremargin', 'person1type',
       'player1_name', 'player1_team_id', 'player1_team_city',
       'player1_team_nickname', 'player1_team_abbreviation', 'person2type',
       'player2_name', 'player2_team_id', 'player2_team_city',
       'player2_team_nickname', 'player2_team_abbreviation', 'person3type',
       'player3_name', 'player3_team_id', 'player3_team_city',
       'player3_team_nickname', 'player3_team_abbreviation',
       'video_available_flag'], inplace=True)

In [25]:
df_pbp['ASSISTED'] = df_pbp['homedescription'].str.contains('AST')

In [26]:
df_pbp.head(5)

,game_id,period,pctimestring,homedescription,player1_id,player2_id,player3_id,ASSISTED
0,29600012,1,12:00,NaN,0,0,0,NaN
1,29600012,1,12:00,Jump Ball O'Neal vs. Kleine: Tip to Cassell,406,170,208,False
2,29600012,1,11:45,MISS Cassell 15' Jump Shot,208,0,0,False
3,29600012,1,11:43,O'Neal REBOUND (Off:0 Def:1),406,0,0,False
4,29600012,1,11:29,MISS Ceballos 26' 3PT Jump Shot,76,0,0,False

In [27]:
df_tiri_merged = pd.merge(df_tiri, df_pbp, left_on=['GAME_ID', 'QUARTER', 'TIME_LEFT'], 
                          right_on=['game_id', 'period', 'pctimestring'], how='left')
df_tiri_merged.drop(columns=['game_id', 'period', 'pctimestring',
       'homedescription', 'player1_id', 'player2_id', 'player3_id'], inplace=True)
df_tiri_merged.dropna(inplace=True)

In [28]:
df_tiri_merged.to_parquet( os.path.join('Data','Parquet','nbashots.parquet') )