In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
#Carico in un dataframe il file game.csv contente i dati su tutte le partite dal 1946 al 2023
path = os.path.join('Data','Raw')
nome_file = 'player_totals.csv'

df = pd.read_csv( os.path.join( path, nome_file ) )
file_teams = 'Team Abbrev.csv'
teams_abb = pd.read_csv( os.path.join(path, file_teams))
#Visualizzo i nomi delle colonne per facilitare i passi successivi
df.columns

Index(['seas_id', 'season', 'player_id', 'player', 'birth_year', 'pos', 'age',
       'experience', 'lg', 'tm', 'g', 'gs', 'mp', 'fg', 'fga', 'fg_percent',
       'x3p', 'x3pa', 'x3p_percent', 'x2p', 'x2pa', 'x2p_percent',
       'e_fg_percent', 'ft', 'fta', 'ft_percent', 'orb', 'drb', 'trb', 'ast',
       'stl', 'blk', 'tov', 'pf', 'pts'],
      dtype='object')

In [3]:
df = df[df['season'] >= 1986 ]
df.drop(columns='birth_year', inplace=True)
df.isnull().sum()

seas_id            0
season             0
player_id          0
player             0
pos                0
age                0
experience         0
lg                 0
tm                 0
g                  0
gs                 0
mp                 0
fg                 0
fga                0
fg_percent       126
x3p                0
x3pa               0
x3p_percent     3338
x2p                0
x2pa               0
x2p_percent      208
e_fg_percent     126
ft                 0
fta                0
ft_percent      1049
orb                0
drb                0
trb                0
ast                0
stl                0
blk                0
tov                0
pf                 0
pts                0
dtype: int64

In [4]:
df.drop(columns=['fg_percent', 'x3p_percent', 'x2p_percent', 'e_fg_percent', 'ft_percent'], inplace=True)

In [5]:
df

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,fta,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,31136,2024,5025,A.J. Green,SG,24.0,2,NBA,MIL,56,...,19,9.0,55.0,64.0,30,9.0,4.0,12.0,49,252
1,31137,2024,5026,A.J. Lawson,SG,23.0,2,NBA,DAL,42,...,23,14.0,36.0,50.0,20,10.0,3.0,14.0,22,136
2,31138,2024,5027,AJ Griffin,SF,20.0,2,NBA,ATL,20,...,2,2.0,16.0,18.0,5,1.0,2.0,8.0,6,48
3,31139,2024,4219,Aaron Gordon,PF,28.0,10,NBA,DEN,73,...,269,174.0,297.0,471.0,259,56.0,45.0,105.0,142,1013
4,31140,2024,4582,Aaron Holiday,PG,27.0,6,NBA,HOU,78,...,63,23.0,100.0,123.0,140,42.0,6.0,53.0,125,514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21686,10554,1986,1974,Wes Matthews,PG,26.0,6,NBA,SAS,75,...,211,30.0,101.0,131.0,476,87.0,32.0,232.0,168,817
21687,10555,1986,2217,Willie White,SG,23.0,2,NBA,DEN,43,...,23,17.0,27.0,44.0,53,18.0,2.0,25.0,24,173
21688,10556,1986,1691,World B. Free,SG,32.0,11,NBA,CLE,75,...,486,72.0,146.0,218.0,314,91.0,19.0,172.0,186,1754
21689,10557,1986,2278,Xavier McDaniel,SF,22.0,1,NBA,SEA,82,...,364,307.0,348.0,655.0,193,101.0,37.0,248.0,305,1404
21690,10558,1986,2279,Yvon Joseph,C,28.0,1,NBA,NJN,1,...,2,0.0,0.0,0.0,0,0.0,0.0,0.0,1,2

In [6]:
df['pos'].unique()

array(['SG', 'SF', 'PF', 'PG', 'C', 'SF-PF', 'PG-SG', 'SF-SG', 'C-PF',
       'PF-SF', 'SG-PG', 'PF-C', 'SG-SF', 'SG-PG-SF', 'SF-C', 'SG-PF',
       'PG-SF'], dtype=object)

In [7]:
df[df['pos']=='PG-SF']

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,fta,orb,drb,trb,ast,stl,blk,tov,pf,pts
12787,18961,2004,2867,Jalen Rose,PG-SF,31.0,10,NBA,TOT,66,...,231,34.0,232.0,266.0,329,51.0,22.0,208.0,184,1022

In [8]:
df[df['pos']=='SF-C']

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,fta,orb,drb,trb,ast,stl,blk,tov,pf,pts
3066,28431,2020,3873,DeMarre Carroll,SF-C,33.0,11,NBA,TOT,24,...,42,12.0,43.0,55.0,25,8.0,5.0,17.0,32,87

In [9]:
df[df['pos']=='SG-PF']

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,fta,orb,drb,trb,ast,stl,blk,tov,pf,pts
3990,27993,2019,3461,Kyle Korver,SG-PF,37.0,16,NBA,TOT,70,...,73,9.0,153.0,162.0,81,25.0,12.0,59.0,106,600
9653,22672,2010,3290,Stephen Jackson,SG-PF,31.0,10,NBA,TOT,81,...,434,78.0,323.0,401.0,300,132.0,43.0,259.0,197,1667
10626,21308,2008,3461,Kyle Korver,SG-PF,26.0,5,NBA,TOT,75,...,130,21.0,151.0,172.0,101,42.0,29.0,75.0,192,740
11246,20817,2007,3407,Mike Dunleavy,SG-PF,26.0,5,NBA,TOT,82,...,269,84.0,347.0,431.0,228,84.0,22.0,149.0,203,1049

In [10]:
df[df['pos']=='PG-SG-SF']

Empty DataFrame
Columns: [seas_id, season, player_id, player, pos, age, experience, lg, tm, g, gs, mp, fg, fga, x3p, x3pa, x2p, x2pa, ft, fta, orb, drb, trb, ast, stl, blk, tov, pf, pts]
Index: []

[0 rows x 29 columns]

In [11]:
df.loc[df.pos=='SG-PG', 'pos'] = 'PG'
df.loc[df.pos=='SF-SG', 'pos'] = 'SG'
df.loc[df.pos=='PF-SF', 'pos'] = 'SF'
df.loc[df.pos=='C-PF', 'pos'] = 'PF'
df.loc[df.pos=='SG-PG-SF', 'pos'] = 'PG'
df.loc[df.pos=='PG-SF', 'pos'] = 'SF'
df.loc[df.pos=='SF-C', 'pos'] = 'SF'
df.loc[df.pos=='SG-PF', 'pos'] = 'SG'
df.loc[df.pos=='PG-SG', 'pos'] = 'PG'
df.loc[df.pos=='SG-SF', 'pos'] = 'SG'
df.loc[df.pos=='SF-PF', 'pos'] = 'SF'
df.loc[df.pos=='PF-C', 'pos'] = 'PF'

In [12]:
df['pos'].unique()

array(['SG', 'SF', 'PF', 'PG', 'C'], dtype=object)

In [13]:
teams_abb.drop_duplicates('abbreviation', inplace=True)
teams_abb = teams_abb[teams_abb.season>1985]
teams_abb

     season   lg                               team  playoffs abbreviation
0      2024  NBA                      Atlanta Hawks     False          ATL
1      2024  NBA                     Boston Celtics      True          BOS
2      2024  NBA                      Brooklyn Nets     False          BRK
3      2024  NBA                  Charlotte Hornets     False          CHO
4      2024  NBA                      Chicago Bulls     False          CHI
5      2024  NBA                Cleveland Cavaliers     False          CLE
6      2024  NBA                   Dallas Mavericks      True          DAL
7      2024  NBA                     Denver Nuggets      True          DEN
8      2024  NBA                    Detroit Pistons     False          DET
9      2024  NBA              Golden State Warriors     False          GSW
10     2024  NBA                    Houston Rockets     False          HOU
11     2024  NBA                     Indiana Pacers     False          IND
12     2024  NBA               Los Angeles Clippers      True          LAC
13     2024  NBA                 Los Angeles Lakers     False          LAL
14     2024  NBA                  Memphis Grizzlies     False          MEM
15     2024  NBA                         Miami Heat     False          MIA
16     2024  NBA                    Milwaukee Bucks      True          MIL
17     2024  NBA             Minnesota Timberwolves      True          MIN
18     2024  NBA               New Orleans Pelicans     False          NOP
19     2024  NBA                    New York Knicks     False          NYK
20     2024  NBA              Oklahoma City Thunder      True          OKC
21     2024  NBA                      Orlando Magic     False          ORL
22     2024  NBA                 Philadelphia 76ers     False          PHI
23     2024  NBA                       Phoenix Suns     False          PHO
24     2024  NBA             Portland Trail Blazers     False          POR
25     2024  NBA                   Sacramento Kings     False          SAC
26     2024  NBA                  San Antonio Spurs     False          SAS
27     2024  NBA                    Toronto Raptors     False          TOR
28     2024  NBA                          Utah Jazz     False          UTA
29     2024  NBA                 Washington Wizards     False          WAS
132    2020  NBA                     League Average     False          NaN
309    2014  NBA                  Charlotte Bobcats      True          CHA
356    2013  NBA                New Orleans Hornets     False          NOH
386    2012  NBA                    New Jersey Nets     False          NJN
519    2008  NBA                Seattle SuperSonics     False          SEA
542    2007  NBA  New Orleans/Oklahoma City Hornets     False          NOK
678    2002  NBA                  Charlotte Hornets      True          CHH
734    2001  NBA                Vancouver Grizzlies     False          VAN
855    1997  NBA                 Washington Bullets      True          WSB

In [14]:
df = pd.merge(df, teams_abb, left_on='tm', right_on='abbreviation')
df.drop(['season_y', 'lg_y', 'playoffs', 'abbreviation'], axis='columns', inplace=True)
df

,seas_id,season_x,player_id,player,pos,age,experience,lg_x,tm,g,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,team
0,31136,2024,5025,A.J. Green,SG,24.0,2,NBA,MIL,56,...,9.0,55.0,64.0,30,9.0,4.0,12.0,49,252,Milwaukee Bucks
1,31137,2024,5026,A.J. Lawson,SG,23.0,2,NBA,DAL,42,...,14.0,36.0,50.0,20,10.0,3.0,14.0,22,136,Dallas Mavericks
2,31138,2024,5027,AJ Griffin,SF,20.0,2,NBA,ATL,20,...,2.0,16.0,18.0,5,1.0,2.0,8.0,6,48,Atlanta Hawks
3,31139,2024,4219,Aaron Gordon,PF,28.0,10,NBA,DEN,73,...,174.0,297.0,471.0,259,56.0,45.0,105.0,142,1013,Denver Nuggets
4,31140,2024,4582,Aaron Holiday,PG,27.0,6,NBA,HOU,78,...,23.0,100.0,123.0,140,42.0,6.0,53.0,125,514,Houston Rockets
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19683,10554,1986,1974,Wes Matthews,PG,26.0,6,NBA,SAS,75,...,30.0,101.0,131.0,476,87.0,32.0,232.0,168,817,San Antonio Spurs
19684,10555,1986,2217,Willie White,SG,23.0,2,NBA,DEN,43,...,17.0,27.0,44.0,53,18.0,2.0,25.0,24,173,Denver Nuggets
19685,10556,1986,1691,World B. Free,SG,32.0,11,NBA,CLE,75,...,72.0,146.0,218.0,314,91.0,19.0,172.0,186,1754,Cleveland Cavaliers
19686,10557,1986,2278,Xavier McDaniel,SF,22.0,1,NBA,SEA,82,...,307.0,348.0,655.0,193,101.0,37.0,248.0,305,1404,Seattle SuperSonics
19687,10558,1986,2279,Yvon Joseph,C,28.0,1,NBA,NJN,1,...,0.0,0.0,0.0,0,0.0,0.0,0.0,1,2,New Jersey Nets

In [15]:
df.rename(columns={'season_x' : 'season'}, inplace=True)

In [16]:
df.team.unique()

array(['Milwaukee Bucks', 'Dallas Mavericks', 'Atlanta Hawks',
       'Denver Nuggets', 'Houston Rockets', 'Indiana Pacers',
       'Oklahoma City Thunder', 'Chicago Bulls', 'Orlando Magic',
       'Boston Celtics', 'Detroit Pistons', 'New York Knicks',
       'Charlotte Hornets', 'Los Angeles Lakers', 'Sacramento Kings',
       'Miami Heat', 'Los Angeles Clippers', 'Golden State Warriors',
       'Portland Trail Blazers', 'Minnesota Timberwolves',
       'Washington Wizards', 'Brooklyn Nets', 'Memphis Grizzlies',
       'San Antonio Spurs', 'Phoenix Suns', 'New Orleans Pelicans',
       'Utah Jazz', 'Toronto Raptors', 'Philadelphia 76ers',
       'Cleveland Cavaliers', 'Charlotte Bobcats', 'New Orleans Hornets',
       'New Jersey Nets', 'Seattle SuperSonics',
       'New Orleans/Oklahoma City Hornets', 'Vancouver Grizzlies',
       'Washington Bullets'], dtype=object)

In [17]:
df.loc[df.team=='Charlotte Bobcats' , 'tm'] = 'CHO'
df.loc[df.team=='New Orleans Hornets', 'tm'] = 'NOP'
df.loc[df.team=='New Jersey Nets', 'tm'] = 'BRK'
df.loc[df.team=='Seattle SuperSonics', 'tm'] = 'OKC'
df.loc[df.team=='New Orleans/Oklahoma City Hornets', 'tm'] = 'CHO'
df.loc[df.team=='Vancouver Grizzlies', 'tm'] = 'MEM'
df.loc[df.team=='Washington Bullets', 'tm'] = 'WAS'

In [18]:
df.loc[df.team=='Charlotte Bobcats' , 'team'] = 'Charlotte Hornets'
df.loc[df.team=='New Orleans Hornets', 'team'] = 'New Orleans Pelicans'
df.loc[df.team=='New Jersey Nets', 'team'] = 'Brooklyn Nets'
df.loc[df.team=='Seattle SuperSonics', 'team'] = 'Oklahoma City Thunder'
df.loc[df.team=='New Orleans/Oklahoma City Hornets', 'team'] = 'Charlotte Hornets'
df.loc[df.team=='Vancouver Grizzlies', 'team'] = 'Memphis Grizzlies'
df.loc[df.team=='Washington Bullets', 'team'] = 'Washington Wizards'

In [19]:
stats = ['mp', 'fga', 'fta', 'tov']
teams_totals = df.groupby(['season', 'tm'])[['mp', 'fga', 'fta', 'tov']].sum().reset_index()
teams_totals.rename(columns={'mp' : 'team_mp', 'fga' : 'team_fga', 'fta' : 'team_fta', 'tov' : 'team_tov'}, inplace=True)
df = pd.merge(df, teams_totals, on=['season', 'tm'], how='left')
df

,seas_id,season,player_id,player,pos,age,experience,lg_x,tm,g,...,stl,blk,tov,pf,pts,team,team_mp,team_fga,team_fta,team_tov
0,31136,2024,5025,A.J. Green,SG,24.0,2,NBA,MIL,56,...,9.0,4.0,12.0,49,252,Milwaukee Bucks,19804.0,7258,1960,1015.0
1,31137,2024,5026,A.J. Lawson,SG,23.0,2,NBA,DAL,42,...,10.0,3.0,14.0,22,136,Dallas Mavericks,19706.0,7352,1842,991.0
2,31138,2024,5027,AJ Griffin,SF,20.0,2,NBA,ATL,20,...,1.0,2.0,8.0,6,48,Atlanta Hawks,19855.0,7584,1906,1046.0
3,31139,2024,4219,Aaron Gordon,PF,28.0,10,NBA,DEN,73,...,56.0,45.0,105.0,142,1013,Denver Nuggets,19705.0,7279,1628,967.0
4,31140,2024,4582,Aaron Holiday,PG,27.0,6,NBA,HOU,78,...,42.0,6.0,53.0,125,514,Houston Rockets,19852.0,7459,1916,1001.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19683,10554,1986,1974,Wes Matthews,PG,26.0,6,NBA,SAS,75,...,87.0,32.0,232.0,168,817,San Antonio Spurs,19805.0,7104,2523,1603.0
19684,10555,1986,2217,Willie White,SG,23.0,2,NBA,DEN,43,...,18.0,2.0,25.0,24,173,Denver Nuggets,19755.0,7868,2416,1315.0
19685,10556,1986,1691,World B. Free,SG,32.0,11,NBA,CLE,75,...,91.0,19.0,172.0,186,1754,Cleveland Cavaliers,19780.0,7239,2325,1399.0
19686,10557,1986,2278,Xavier McDaniel,SF,22.0,1,NBA,OKC,82,...,101.0,37.0,248.0,305,1404,Oklahoma City Thunder,19930.0,7059,2331,1402.0
19687,10558,1986,2279,Yvon Joseph,C,28.0,1,NBA,BRK,1,...,0.0,0.0,0.0,1,2,Brooklyn Nets,19805.0,7301,2396,1556.0

In [20]:
df['player_usage'] = 100 * ( (df.fga + 0.44*df.fta + df.tov) * (df.team_mp/5) ) / ( df.mp * (df.team_fga + 0.44*df.team_fta + df.team_tov)) 
df['player_usage']

0        15.277910
1        20.091350
2        17.383606
3        17.982789
4        16.739129
           ...
19683    20.203119
19684    22.835449
19685    29.379928
19686    24.597792
19687     7.033792
Name: player_usage, Length: 19688, dtype: float64

In [21]:
df.drop(16149, axis=0, inplace=True)

In [22]:
df.to_parquet( os.path.join( 'Data', 'Parquet', 'playerstats.parquet') )